$('.project-details').find('h3').html('<%= @project.name.capitalize %>');
$('.project-details').find('p').html('<%= @project.description %>');
var js_array = [<%= raw @project_technos.to_json %>];
var ul = $('.project-details').find('ul');
ul.empty();
$.each(js_array[0], function(index, value){ ul.append('<li>'+ value +'</li>'); });
$('.project-details-images').empty();
$('.project-details-images').append('<img src="<%= @project.screenshots %>", width="740px" />');

$('.project-display').fadeIn('slow');
