$('.project-details').find('h3').html('<%= @project.name %>');
$('.project-details').find('p').html('<%= @project.description %>');
var js_array = [<%= raw @project_technos.to_json %>];
var ul = $('.project-details').find('ul');
jQuery.each(js_array, function(index, item) {
    ul.append('<li>'+ item +'</li>');
});
console.log(js_array);

$('.project-display').fadeIn('slow');
