/*******************************************/
/****************** GLOBAL *****************/
/*******************************************/
body{
    padding-top:120px;
}

@font-face{
    font-family: 'ubuntu_monobold';
    src: font-url('ubuntumono-b-webfont.eot');
    src: font-url('ubuntumono-b-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ubuntumono-b-webfont.woff2') format('woff2'),
         font-url('ubuntumono-b-webfont.woff') format('woff'),
         font-url('ubuntumono-b-webfont.ttf') format('truetype'),
         font-url('ubuntumono-b-webfont.svg#ubuntu_monobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'geosanslightregular';
    src: font-url('geosanslight-webfont.eot');
    src: font-url('geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('geosanslight-webfont.woff2') format('woff2'),
         font-url('geosanslight-webfont.woff') format('woff'),
         font-url('geosanslight-webfont.ttf') format('truetype'),
         font-url('geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'jellybellyregular';
    src: font-url('jellybelly-webfont.eot');
    src: font-url('jellybelly-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('jellybelly-webfont.woff2') format('woff2'),
         font-url('jellybelly-webfont.woff') format('woff'),
         font-url('jellybelly-webfont.ttf') format('truetype'),
         font-url('jellybelly-webfont.svg#jellybellyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection{
    background-color:#4EAEA0;
    color:#F5F5F5;
}

/* Firefox */
::-moz-selection {
    background-color:#4EAEA0;
    color:#F5F5F5;
}

h1 {
  color: #d4a940;
  font-size:2.5em;
  font-weight:100;
  font-family: "UbuntuB", sans-serif;
}

p {
  font-size:1.4em;
  color: #393939;
  font-family: "geosanslightregular", sans-serif;
  text-align: justify;
  hyphens: auto;
}

.jumbotron p{
    color:#ffffff;
    margin-bottom:0;
}

.btn-big{
    width:100%;
    margin-top:20px;
}

.btn-green{
    background-color: #4EAEA0;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:700;
    &:hover{
        background-color: #4EAEA0;
        color:#D4A940;
    }
}

/*******************************************/
/****************** HEADER *****************/
/*******************************************/

.logo{
    background-image: url('logoHeader.png');
    background-repeat: no-repeat;
    height:108px;
    width:78px;
    float:left;
}

.txtLogo1{
  font-family: "jellybellyregular", sans-serif;
  margin-left: 6px;
  padding-top: 0px;
  font-size: 3.5em;
  color: #4EAEA0;
  line-height: 95px;
  text-shadow: 2px 2px #393939;
}

.txtLogo2{
  /*line-height: 20px;*/
  margin-top: -30px;
  margin-left: 85px;
  display: block;
  font-family: "geosanslightregular", sans-serif;
  font-size: 1.5em;
  color: #d4a940;
  font-weight: 600;
}

#navbar{
    margin-top:30px;
}

.collapsed{
    margin-top:35px;
}

/* Effet Css3 menu : three circles */
.cl-effect-13 ul li a {
  text-decoration:none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.cl-effect-13 ul li a::before {
  position: absolute;
  top: 70%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  font-size:1.5em;
}

.cl-effect-13 ul li a:hover::before,
.cl-effect-13 ul li a:focus::before {
  color: #d4a940;
  text-shadow: 15px 0 #d4a940, -15px 0 #d4a940;
}

.cl-effect-13 ul li a:hover,
.cl-effect-13 ul li a:focus, .active a {
  color: #d4a940;
  outline: none;
}

.active a::before{
  font-size:1.5em;
  position: absolute;
  top: 70%;
  left: 50%;
  content: '•';
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  color: #d4a940 !important;
  text-shadow: 15px 0 #d4a940, -15px 0 #d4a940;
}

/*******************************************/
/***************** CONTENT *****************/
/*******************************************/

.head{
  padding: 20px;
  margin: 50px 0;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 3px 0px #a2a2a2;
  -webkit-box-shadow: 0px 0px 3px 0px #a2a2a2;
  -o-box-shadow: 0px 0px 3px 0px #a2a2a2;
  box-shadow: 0px 0px 3px 0px #a2a2a2;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#a2a2a2, Direction=NaN, Strength=3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.6em;
}

.droplet{
  background-image: url('droplet.png');
  background-repeat: no-repeat;
  width: 35px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -6px;
  margin-right: 20px;
}

.rocket{
  background-image: url('rocket.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -6px;
  margin-right: 20px;
}

.adressBook{
  background-image: url('address-book.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -6px;
  margin-right: 20px;
}

.love{
  background-image: url('heart.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -6px;
  margin-right: 20px;
}

.stacks{
  background-image: url('stack.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -6px;
  margin-right: 20px;
}

.containerRoundBox{
    .roundBox{
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #393939;
      -moz-box-shadow: 0px 0px 3px 0px #a2a2a2;
      -webkit-box-shadow: 0px 0px 3px 0px #a2a2a2;
      -o-box-shadow: 0px 0px 3px 0px #a2a2a2;
      box-shadow: 0px 0px 3px 0px #a2a2a2;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#a2a2a2, Direction=NaN, Strength=3);
    }
    .serviceBox{
      display: block;
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #FFFFFF;
      margin-left: 15px;
      margin-top: 14px;
    }
    h2{
      font-size: 1.5em;
      text-align: center;
      color: #d4a940;
      font-weight: 600px!important;
    }
    .iconWebdesign{
      background-image: url('screen.png');
      background-repeat: no-repeat;
      background-position: center;
      height:80px;
      width:80px;
      margin-top:20px;
      margin-left:20px;
    }
    .iconDev{
      background-image: image-url('keyboard.png');
      background-repeat: no-repeat;
      background-position: center;
      height:80px;
      width:80px;
      margin-top:20px;
      margin-left:20px;
    }
    .iconTablet{
      background-image: image-url('tablet.png');
      background-repeat: no-repeat;
      background-position: center;
      height:80px;
      width:80px;
      margin-top:20px;
      margin-left:20px;
    }
    .iconIntegration{
      background-image: image-url('responsive.png');
      background-repeat: no-repeat;
      background-position: center;
      height:80px;
      width:80px;
      margin-top:20px;
      margin-left:20px;
    }
    .txtServices{
        text-align:center;
        max-width:220px;
        margin:0 auto;
        p{
          text-align:center;
        }
        .savoirPlus{
          text-align: center;
          font-weight: bold;
          width: 150px;
          padding: 5px;
          color:#393939;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          transition: all 0.5s;
          margin:0 auto;
          &:hover{
              background-color: #393939;
              color: #d4a940;
          }
        }
    }
}

.loginContainer{
    text-align:center;
    width:500px;
    margin:80px auto;
    background-color: #fff;
    padding:40px;
    border-radius:8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    h2{
        margin:0 auto 40px auto;
    }
    form{
        .field{
            input{
                border:none;
                border-radius:4px;
                background-color: #F4F4F4;
                height:35px;
                width:300px;
                margin-bottom:20px;
                padding-left:10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}

/*******************************************/
/****************** FOOTER *****************/
/*******************************************/

.sea{
  z-index: 1000;
  background-image: image-url('sea.png');
  background-repeat: repeat-x;
  height: 50px;
  margin-top:50px;
}

footer{
  height: 220px;
  background-color: #202020;
  color: #f4f4f4;
  width: 100%;
  border-top: 5px solid #d4a940;
  h3{
      margin-top:5px;
      color: #fefefe;
      font-family: "UbuntuB", sans-serif;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
}


/*******************************************/
/**************** RESPONSIVE ***************/
/*******************************************/


/*******************************************/
/**************** ANIMATION ****************/
/*******************************************/